pipeline/pl_copy_empTable_using_setvarible.json
{
	"name": "pl_copy_empTable_using_setvarible",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileName",
					"value": {
						"value": "@concat(\r\n    'employee_',\r\n    formatDateTime(utcNow(), 'MMddyyyy'),\r\n    '.csv'\r\n\r\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetEmpDetails]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_sqlQuery",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_datafiles_outupt_employee_param",
						"type": "DatasetReference",
						"parameters": {
							"pFilename": {
								"value": "@variables('fileName')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"fileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-09-26T14:21:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}