pipeline/pl_validation_dataset_existence.json
{
	"name": "pl_validation_dataset_existence",
	"properties": {
		"activities": [
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_datafiles_input_filename_validation",
						"type": "DatasetReference",
						"parameters": {
							"pfilename": {
								"value": "@variables('vFilename')",
								"type": "Expression"
							}
						}
					},
					"timeout": "0.12:00:00",
					"sleep": 15
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_datafiles_input_filename_validation",
						"type": "DatasetReference",
						"parameters": {
							"pfilename": {
								"value": "@variables('vFilename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_datafiles_output_filename_validation",
						"type": "DatasetReference",
						"parameters": {
							"pfilename": {
								"value": "@variables('vFilename')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"vFilename": {
				"type": "String",
				"defaultValue": "employee.csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-01T06:51:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}